{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "base.css" %}" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Hohey 好戲</title>

  </head>       
  
  <body class="peasant">
    <div id="navbar" class="peasant">
      <a href="javascript:void(0)" class="closebtn peasant" onclick="openNav()">&#9776;</a>

      <a href="/" class="peasant">
        <img src="/media/hohey_icon/icon.png" style="height: 20px; width: 20px; margin-right: 10px;">
        <strong>Hohey 好戲</strong>
      </a>

      <form id="navbar-search-form" class="peasant" method="POST" action="{% url 'search-films' %}">
        {% csrf_token %}
        <input id="navbar-search-box" class="peasant" type="search" placeholder="Search Films" aria-label="Search" n>
        <button id="navbar-search-button" type="submit"> Search </button>
      </form>

      <a class="navbar-link peasant" href="{% url 'film_list' %}" style="margin-right: 20px;">
         <strong>Films</strong>
      </a>

      {% if user.is_authenticated %}
      <a class="navbar-link peasant" href="{% url 'profile' %}" style="margin-right: 20px;">
        <strong>Profile</strong>
      </a>

      <a class="navbar-link peasant"href="{% url 'logout' %}">
        <strong>Logout</strong>
      </a>
      {% else %}

      <a class="navbar-link peasant" href="{% url 'register' %}" style="margin-right: 20px;">
        <strong>Register</strong>
      </a>

      <a class="navbar-link peasant" href="{% url 'login' %}">
        <strong>Log In</strong>
      </a>

      {% endif %}
    </div>

    <div id="sidenav" class="peasant">
      <a href="javascript:void(0)" class="closebtn peasant" onclick="closeNav()">&#9776;</a>
      <a href="#" class="peasant">Watchlist</a>
      <a href="#" class="peasant">Favourites</a>
      <a href="#" class="peasant">Watch later</a>
      <a href="#" class="peasant">Followers</a>
      <a href="javascript:void(0)" class="peasant" id="lightmode-button" onclick="make_light()">Toggle light/dark mode</a>
    </div>
    
    <div id="content">
    {% block content %}{% endblock content%}
    </div>

    <script>
    // sidebar stuff
      var lightmode = false;
      
      function openNav() {
         document.getElementById("sidenav").style.width = "250px";
      }
         
      function closeNav() {
         document.getElementById("sidenav").style.width = "0";
      }

      //lightmode
      function make_light() {
	  var peasants = document.getElementsByClassName ("peasant");
	  lightmode = !lightmode;
          if (lightmode) {
	      for (var i = 0 ; i < peasants.length ; i++) {
		  peasants[i].classList.remove ("light-mode");
	      }
	  } else {
              for (var i = 0 ; i < peasants.length ; i++) {
		  peasants[i].classList.add ("light-mode");
	      }
	  }
      }
    </script>
</body>
