{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "base.css" %}" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Hohey 好戲</title>

  </head>       
  
  <body>
    <div id="navbar">
      <a href="javascript:void(0)" class="closebtn" onclick="openNav()">&#9776;</a>

      <a href="/">
        <img src="/media/hohey_icon/icon.png" style="height: 20px; width: 20px; margin-right: 10px;">
        <strong>Hohey 好戲</strong>
      </a>

      <form id="navbar-search-form" method="POST" action="{% url 'search-films' %}">
        {% csrf_token %}
        <input id="navbar-search-box" type="search" placeholder="Search Films" aria-label="Search" n>
        <button id="navbar-search-button" type="submit"> Search </button>
      </form>

      <a class="navbar-link" href="{% url 'film_list' %}" style="margin-right: 20px;">
         <strong>Films</strong>
      </a>

      {% if user.is_authenticated %}
      <a class="navbar-link" href="{% url 'profile' %}" style="margin-right: 20px;">
        <strong>Profile</strong>
      </a>

      <a class="navbar-link"href="{% url 'logout' %}">
        <strong>Logout</strong>
      </a>
      {% else %}

      <a class="navbar-link" href="{% url 'register' %}" style="margin-right: 20px;">
        <strong>Register</strong>
      </a>

      <a class="navbar-link" href="{% url 'login' %}">
        <strong>Log In</strong>
      </a>

      {% endif %}
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>
      <a href="#">Watchlist</a>
      <a href="#">Favourites</a>
      <a href="#">Watch later</a>
      <a href="#">Followers</a>
    </div>
    
    <div id="content">
    {% block content %}{% endblock content%}
    </div>

    <script>
    // sidebar stuff
 
      function openNav() {
         document.getElementById("mySidenav").style.width = "250px";
      }
         
      function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
      }
    </script>
</body>
