{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "home.css" %}" />

<div id="banner">
  <div id="banner-container">
    <br />
    <h1 class="banner-heading">HoHey</h1>
    <p class="banner-contents">
    HoHey is where your film assets are preserved, displayed, and celebrated - all the while you earn passive income.
    </p>
    <p id="banner-links-p">
      <a href="#" id="banner-button1">Check it out</a>
      <a href="#" id="banner-button2">Join the discussion</a>
    </p>
  </div>
</div>

<div id="post-all">

{% for film in films%}  
  <div class="post-main">
  <a class="post-main-a" href="{{ film.id }}">
    <div class="post-preview">
      <br />
      <img class="post-image" src="{{ film.film_image.url }}">
    </div>
    <div class="post-details">
      <h4>{{ film.film_name }}</h4>
      <h5>{{ film.film_summary|truncatechars:120 }}</h5>
    </div>
  </a>
  </div>
{% endfor %}
</div>

{% endblock content %}
